<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        {{> header }}
        <p>
            Hello {{ uppercaseText user }}
            Here are your likes {{ likes }}
        </p>
        {{> footer }}
    </body>
</html>
